<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haizhi.searches.dao.SqlDemoDao">
    <select id="testSql">
      select *  from demo limit 1
    </select>

    <select id="paramSql" parameterType="java.util.Map">
      select  *  from item limit 1
    </select>

    <select id="paramSqlMap">
     select  *  from item where name = #{name} limit 3
    </select>
</mapper>
